<html>

<head>
    <style type="text/css">
        body {
            background: black;
            color: white;
        }

        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }

        h2 {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Quote of the day</h2>
        <hr>
        <h3>FILM: </h3><h4> {{ film }}</h4>
        <h3>QUOTE: </h3><h4> {{ quote }}</h4>        
    </div>
</body>

</html>
